[submodule "QtUsb"]
	path = QtUsb
	url = https://github.com/ProtozeFOSS/QtUsb.git

[submodule "RadialBar_arunpkqt"]
	path = examples/Krakify/RadialBar_arunpkqt
	url = https://github.com/arunpkqt/RadialBarDemo.git

[submodule "dep/libsensors-cpp"]
	path = dep/libsensors-cpp
	url = https://github.com/sfranzen/libsensors-cpp
